menu "Micropython Configuration"
    config MAIN_STUB
        bool "Boot module with (respawned on delete) main.py"
        default y
        help
            If this option is enabled, module will restore absent main.py script.

    config DHT_MODULE
        bool "Include DHT module"
        default y
        help
            If this option is enabled, 'dht' module is included int the board modules.

    config CC1101_MODULE
        bool "Include C1101 module"
        default y
        help
            If this option is enabled, 'cc1101' module is included int the board modules.

    config CAMERA_MODULE
        bool "Include CAMERA module"
        default y
        help
            If this option is enabled, 'camera' module is included int the board modules.

endmenu
