* binary
*.bat text
*.cmd text
*.cmake text
*.md text
*.py text
*.pm text
*.txt text
*.h text
*.c text
*.cpp text
*.hpp text
*.xml text
*.sh text
*.mk text
*.json text
*.def text
*.yml text
*.yaml text
*.lua text
Makefile text
LICENSE text
VERSION text
README text
Dockerfile text